<!DOCTYPE HTML>
<html>
<head>
<title></title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/static/css/main.css" />
<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
</head>
<body>

<!-- Header -->
<header id="header">
	<nav>
		<a href="#menu">菜单</a>
	</nav>
</header>

<!-- Nav -->
<nav id="menu">
	<ul class="links">
		<li><a href="{{ data.first_page_href }}">主页</a></li>
		<li><a href="/">注销</a></li>
	</ul>
</nav>

<!-- Main -->
<section id="main">
    <div class="inner">
        <div class="top-location">位置：<a href="{{ data.first_page_href }}">主页</a> ><a>运动量分析</a></div>
        <section>
            <h3>2018年1月9日</h3>
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>日期</th>
                            <th>部位</th>
                            <th>训练总量(kg*t)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1月9日</td>
                            <td>背</td>
                            <td>1800kg</td>
                        </tr>
                        <tr>
                            <td>1月9日</td>
                            <td>背</td>
                            <td>1800kg</td>
                        </tr>
                        <tr>
                            <td>1月9日</td>
                            <td>背</td>
                            <td>1800kg</td>
                        </tr>
                        <tr>
                            <td>1月9日</td>
                            <td>背</td>
                            <td>1800kg</td>
                        </tr>
                        <tr>
                            <td>1月9日</td>
                            <td>背</td>
                            <td>1800kg</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2"></td>
                            <td>8899kg</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </section>
    </div>
</section>

<!-- Scripts -->
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/js/jquery.scrolly.min.js"></script>
<script src="/static/js/skel.min.js"></script>
<script src="/static/js/util.js"></script>
<script src="/static/js/main.js"></script>

</body>
</html>