<!DOCTYPE HTML>
<html>
<head>
<title></title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/static/css/main.css" />
<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
</head>
<body>

<!-- Header -->
<header id="header">
	<nav>
		<a href="#menu">菜单</a>
	</nav>
</header>

<!-- Nav -->
<nav id="menu">
	<ul class="links">
		<li><a href="{{ data.first_page_href }}">主页</a></li>
		<li><a href="/">注销</a></li>
	</ul>
</nav>

<!-- Main -->
<section id="main">
    <div class="inner">
        <div class="top-location">位置：<a href="{{ data.first_page_href }}">主页</a> ><a>选择部位</a></div>
        <section>
            <a id="display" href="javascript:display();" style="float:right;">编辑</a>
            <a id="cancel" href="javascript:cancel();" style="float:right;">取消</a>
            <h3>选择部位</h3>
            <div class="row">
                <div class="6u$ 12u$(xsmall)">
                    {% for part in data.parts %}
                        <ul class="actions fit small">
                            <li><a href="/select_part/{{ part.ID }}" class="button alt fit small">{{ part.name }}</a></li>
                            <li class="delete-action" style="display:none;"><a href="/delete_part/{{ part.ID }}"><span class="glyphicon glyphicon-trash"></span></a></li>
                        </ul>
                    {% endfor %}
                    <ul class="actions fit small">
                        <li></li>
                        <li class="delete-action" style="display:none;"><a href="javascript:create_part({{data.uid}})"><span class="glyphicon glyphicon-plus"></span></a></li>
                    </ul>
                </div>
            </div>
        </section>
	</div>
</section>

<!-- Scripts -->
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/js/jquery.scrolly.min.js"></script>
<script src="/static/js/skel.min.js"></script>
<script src="/static/js/util.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/index.js"></script>

</body>
</html>